

<!DOCTYPE html>
<html lang="en" class="branding ">
    <head>
        <meta charset="utf-8" />
        <title>Cradle PHP</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        
        
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		
        <link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="icon" type="image/gif" href="/favicon.gif" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        
        <link rel="stylesheet" type="text/css" href="/bower_components/eve-font-awesome/awesome.css" />
        <link rel="stylesheet" type="text/css" href="/bower_components/eve-open-sans/open-sans.css" />
        <link rel="stylesheet" type="text/css" href="/bower_components/eve-bootstrap/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/bower_components/eve-open-sans/open-sans.css" />
        <link rel="stylesheet" type="text/css" href="/www/styles/prism.css" />
        <link rel="stylesheet" type="text/css" href="/www/styles/custom.css" />
        
        <script type="text/javascript" src="/bower_components/eve-jquery/jquery.js"></script>
        <script type="text/javascript" src="/bower_components/eve-bootstrap/bootstrap.js"></script>
    </head>

    <body>
    	<header>
            {{> head}}	
        </header>


        <section class="body">
            <div class="container">
                {{{content}}}
        
            </div>
        </section>
        <footer>
        {{> foot}}
        </footer>
        <script type="text/javascript" src="/www/scripts/prism.js"></script>
    </body>
</html>
